@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Lato;
}
/* style date picker */
.mx-table-year td, .mx-table-month {
  @apply text-gray-800 !important;
}

.mx-table-year td.cell.active, .mx-table-month td.cell.active{
  @apply text-white bg-green-700 !important;
}

.mx-icon-left,.mx-icon-right,.mx-icon-double-left,.mx-icon-double-right{
  @apply text-gray-900 font-black !important;
}

.mx-table-date th{
  @apply text-sm text-gray-800 font-roboto font-medium !important;
}

.mx-table-date td {
  @apply text-gray-700 font-lato text-sm !important;
}

.mx-table-date td.cell.active {
    @apply bg-green-700 rounded-full text-white !important;
}

.mx-table-date td.cell.in-range, td.cell.hover-in-range{
  @apply bg-green-50 !important;
}

.mx-datepicker .mx-datepicker--error .mx-input-wrapper {
  @apply !bg-red-400;
}

.mx-datepicker .mx-input {
  @apply !border-gray-500 !bg-gray-50 placeholder:!font-lato placeholder:!text-sm placeholder:!text-gray-800;
}

.mx-datepicker.mx-datepicker--error .mx-input {
  @apply !border-red-600;
}
.mx-datepicker .mx-datepicker--error .mx-input {
  @apply !border-red-600;
}

.mx-datepicker-popup{
  @apply rounded-lg border border-gray-400 !important;
}

.mx-datepicker-footer{
  @apply !p-0;
}

.mx-input-wrapper{
  @apply border border-gray-300 rounded-lg !important;
}

.mx-icon-calendar{
  @apply text-green-700 !important;
}

.mx-input{
  @apply text-sm font-lato text-gray-700 !important;
}


.mx-input:hover, .mx-input:focus {
  @apply border-green-600 !important
}

.mx-btn-text,.mx-calendar-header{
  @apply text-gray-900 font-roboto font-bold text-[14px] !important;
}

.jds-data-table {
  @apply rounded-lg border-spacing-[1px] !important;
}

.jds-data-table tr th:first-child {
  @apply rounded-tl-lg;
}

.jds-data-table tr th:last-child {
  @apply rounded-tr-lg;
}
.jds-data-table tr th {
  @apply h-[42px] border-r border-white bg-green-700 !important;
}

.jds-data-table tr td {
  @apply max-w-[435px] border-r border-gray-200;
}

.form-add-complaint .jds-select .jds-input-text__input-wrapper {
  @apply !w-[592px] !bg-white
}

.form-add-complaint .jds-popover__content {
  @apply !w-[580px]
}

.jds-select__options {
  @apply !max-h-[500px] !overflow-y-auto;
  scrollbar-color: #e0e0e0 transparent;
  scrollbar-width: thin;
}

.jds-select__options::-webkit-scrollbar {
  @apply h-5 w-5;
}

.jds-select__options::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.jds-select__options::-webkit-scrollbar-thumb {
  @apply rounded-xl border-[6px] border-solid border-transparent bg-gray-300 bg-clip-content;
}

.jds-options__option-list-item {
 @apply !h-fit
}

/* for filterable style
.form-add-complaint .jds-options__filter .jds-input-text__input-wrapper{
  @apply !w-[540px]
} */
